In [2]:
import dash
import dash_core_components as dcc
import dash_html_components as html
from dash.dependencies import Input, Output
import plotly.graph_objs as go
import pandas as pd

C:\Users\ACER\AppData\Local\Temp\ipykernel_14796\8502699.py:2: UserWarning:
The dash_core_components package is deprecated. Please replace
`import dash_core_components as dcc` with `from dash import dcc`
  import dash_core_components as dcc
C:\Users\ACER\AppData\Local\Temp\ipykernel_14796\8502699.py:3: UserWarning:
The dash_html_components package is deprecated. Please replace
`import dash_html_components as html` with `from dash import html`
  import dash_html_components as html

In [3]:
url_confirmed = 'covid_confirmed.csv'
url_deaths = 'covid_deaths.csv'
url_recovered = 'covid_recovered.csv'

In [4]:
confirmed = pd.read_csv(url_confirmed)
deaths = pd.read_csv(url_deaths)
recovered = pd.read_csv(url_recovered)

In [5]:
confirmed

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,2/28/23,3/1/23,3/2/23,3/3/23,3/4/23,3/5/23,3/6/23,3/7/23,3/8/23,3/9/23
0,NaN,Afghanistan,33.939110,67.709953,0,0,0,0,0,0,...,209322,209340,209358,209362,209369,209390,209406,209436,209451,209451
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,334391,334408,334408,334427,334427,334427,334427,334427,334443,334457
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,271441,271448,271463,271469,271469,271477,271477,271490,271494,271496
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,47866,47875,47875,47875,47875,47875,47875,47875,47890,47890
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,105255,105277,105277,105277,105277,105277,105277,105277,105288,105288
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
284,NaN,West Bank and Gaza,31.952200,35.233200,0,0,0,0,0,0,...,703228,703228,703228,703228,703228,703228,703228,703228,703228,703228
285,NaN,Winter Olympics 2022,39.904200,116.407400,0,0,0,0,0,0,...,535,535,535,535,535,535,535,535,535,535
286,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,11945,11945,11945,11945,11945,11945,11945,11945,11945,11945
287,NaN,Zambia,-13.133897,27.849332,0,0,0,0,0,0,...,343012,343012,343079,343079,343079,343135,343135,343135,343135,343135
288,NaN,Zimbabwe,-19.015438,29.154857,0,0,0,0,0,0,...,263921,264127,264127,264127,264127,264127,264127,264127,264276,264276

In [6]:
confirmed.isna().sum()

Province/State    198
Country/Region      0
Lat                 2
Long                2
1/22/20             0
                 ...
3/5/23              0
3/6/23              0
3/7/23              0
3/8/23              0
3/9/23              0
Length: 1147, dtype: int64

In [7]:
# Unpivot data frames
date1 = confirmed.columns[4:]
total_confirmed = confirmed.melt(id_vars=['Province/State', 'Country/Region', 'Lat', 'Long'], value_vars=date1, var_name='date', value_name='confirmed')
date2 = deaths.columns[4:]
total_deaths = deaths.melt(id_vars=['Province/State', 'Country/Region', 'Lat', 'Long'], value_vars=date2, var_name='date', value_name='death')
date3 = recovered.columns[4:]
total_recovered = recovered.melt(id_vars=['Province/State', 'Country/Region', 'Lat', 'Long'], value_vars=date3, var_name='date', value_name='recovered')

In [8]:
total_confirmed

,Province/State,Country/Region,Lat,Long,date,confirmed
0,NaN,Afghanistan,33.939110,67.709953,1/22/20,0
1,NaN,Albania,41.153300,20.168300,1/22/20,0
2,NaN,Algeria,28.033900,1.659600,1/22/20,0
3,NaN,Andorra,42.506300,1.521800,1/22/20,0
4,NaN,Angola,-11.202700,17.873900,1/22/20,0
...,...,...,...,...,...,...
330322,NaN,West Bank and Gaza,31.952200,35.233200,3/9/23,703228
330323,NaN,Winter Olympics 2022,39.904200,116.407400,3/9/23,535
330324,NaN,Yemen,15.552727,48.516388,3/9/23,11945
330325,NaN,Zambia,-13.133897,27.849332,3/9/23,343135
330326,NaN,Zimbabwe,-19.015438,29.154857,3/9/23,264276

In [9]:
# Merging data frames
covid_data = total_confirmed.merge(right=total_deaths, how='left', on=['Province/State', 'Country/Region', 'date', 'Lat', 'Long'])
covid_data = covid_data.merge(right=total_recovered, how='left', on=['Province/State', 'Country/Region', 'date', 'Lat', 'Long'])

covid_data

,Province/State,Country/Region,Lat,Long,date,confirmed,death,recovered
0,NaN,Afghanistan,33.939110,67.709953,1/22/20,0,0,0.0
1,NaN,Albania,41.153300,20.168300,1/22/20,0,0,0.0
2,NaN,Algeria,28.033900,1.659600,1/22/20,0,0,0.0
3,NaN,Andorra,42.506300,1.521800,1/22/20,0,0,0.0
4,NaN,Angola,-11.202700,17.873900,1/22/20,0,0,0.0
...,...,...,...,...,...,...,...,...
330322,NaN,West Bank and Gaza,31.952200,35.233200,3/9/23,703228,5708,0.0
330323,NaN,Winter Olympics 2022,39.904200,116.407400,3/9/23,535,0,0.0
330324,NaN,Yemen,15.552727,48.516388,3/9/23,11945,2159,0.0
330325,NaN,Zambia,-13.133897,27.849332,3/9/23,343135,4057,0.0
330326,NaN,Zimbabwe,-19.015438,29.154857,3/9/23,264276,5671,0.0

In [10]:
# Converting date column from string to proper date format
covid_data['date'] = pd.to_datetime(covid_data['date'])

C:\Users\ACER\AppData\Local\Temp\ipykernel_14796\2084995114.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  covid_data['date'] = pd.to_datetime(covid_data['date'])

In [11]:
# Check how many missing value naN
covid_data.isna().sum()

Province/State    226314
Country/Region         0
Lat                 2286
Long                2286
date                   0
confirmed              0
death                  0
recovered          24003
dtype: int64

In [12]:
# Replace naN with 0
covid_data['recovered'] = covid_data['recovered'].fillna(0)

In [13]:
# Calculate new column
covid_data['active'] = covid_data['confirmed'] - covid_data['death'] - covid_data['recovered']

In [14]:
covid_data_1 = covid_data.groupby(['date'])[['confirmed', 'death', 'recovered', 'active']].sum().reset_index()

covid_data_1

           date  confirmed    death  recovered       active
0    2020-01-22        557       17       30.0        510.0
1    2020-01-23        657       18       32.0        607.0
2    2020-01-24        944       26       39.0        879.0
3    2020-01-25       1437       42       42.0       1353.0
4    2020-01-26       2120       56       56.0       2008.0
...         ...        ...      ...        ...          ...
1138 2023-03-05  676024901  6877749        0.0  669147152.0
1139 2023-03-06  676082941  6878115        0.0  669204826.0
1140 2023-03-07  676213378  6879038        0.0  669334340.0
1141 2023-03-08  676392824  6880483        0.0  669512341.0
1142 2023-03-09  676570149  6881802        0.0  669688347.0

[1143 rows x 5 columns]

In [15]:
LastUpdated= max(covid_data_1['date'])

LastUpdated

Timestamp('2023-03-09 00:00:00')

In [16]:
PreviousUpdated = LastUpdated- pd.Timedelta(days=1)

PreviousUpdated

Timestamp('2023-03-08 00:00:00')

In [17]:
# Tambien se puede hacer asi>  str(covid_data_1['date'].iloc[-1])

str(max(covid_data_1['date']).strftime("%B %d, %Y"))

'March 09, 2023'

In [18]:
# covid_data_1['confirmed'].iloc[-1]

In [19]:
ConfirmedLastUpdated = covid_data_1.loc[covid_data_1['date']==max(covid_data_1['date'])]['confirmed'].sum()
DeathedLastUpdated = covid_data_1.loc[covid_data_1['date']==max(covid_data_1['date'])]['confirmed'].sum()
RecoveredLastUpdated = covid_data_1.loc[covid_data_1['date']==max(covid_data_1['date'])]['confirmed'].sum()
ActivedLastUpdated = covid_data_1.loc[covid_data_1['date']==max(covid_data_1['date'])]['confirmed'].sum()

ConfirmedLastUpdated

676570149

In [20]:

ConfirmedPreviousUpdated=covid_data_1.loc[covid_data_1['date']==(max(covid_data_1['date'])- pd.Timedelta(days=1))]['confirmed'].sum()
DeathedPreviousUpdated=covid_data_1.loc[covid_data_1['date']==(max(covid_data_1['date'])- pd.Timedelta(days=1))]['confirmed'].sum()
RecoveredPreviousUpdated=covid_data_1.loc[covid_data_1['date']==(max(covid_data_1['date'])- pd.Timedelta(days=1))]['confirmed'].sum()
ActivedPreviousUpdated=covid_data_1.loc[covid_data_1['date']==(max(covid_data_1['date'])- pd.Timedelta(days=1))]['confirmed'].sum()

ConfirmedPreviousUpdated

676392824

In [21]:
covid_data_2 = covid_data.groupby(['date', 'Country/Region'])[['confirmed', 'death', 'recovered', 'active']].sum().reset_index()

covid_data_2

             date        Country/Region  confirmed  death  recovered    active
0      2020-01-22           Afghanistan          0      0        0.0       0.0
1      2020-01-22               Albania          0      0        0.0       0.0
2      2020-01-22               Algeria          0      0        0.0       0.0
3      2020-01-22               Andorra          0      0        0.0       0.0
4      2020-01-22                Angola          0      0        0.0       0.0
...           ...                   ...        ...    ...        ...       ...
229738 2023-03-09    West Bank and Gaza     703228   5708        0.0  697520.0
229739 2023-03-09  Winter Olympics 2022        535      0        0.0     535.0
229740 2023-03-09                 Yemen      11945   2159        0.0    9786.0
229741 2023-03-09                Zambia     343135   4057        0.0  339078.0
229742 2023-03-09              Zimbabwe     264276   5671        0.0  258605.0

[229743 rows x 6 columns]

In [22]:
# create dictionary of list
covid_data_dict = covid_data[['Country/Region', 'Lat', 'Long']]

covid_data_dict

              Country/Region        Lat        Long
0                Afghanistan  33.939110   67.709953
1                    Albania  41.153300   20.168300
2                    Algeria  28.033900    1.659600
3                    Andorra  42.506300    1.521800
4                     Angola -11.202700   17.873900
...                      ...        ...         ...
330322    West Bank and Gaza  31.952200   35.233200
330323  Winter Olympics 2022  39.904200  116.407400
330324                 Yemen  15.552727   48.516388
330325                Zambia -13.133897   27.849332
330326              Zimbabwe -19.015438   29.154857

[330327 rows x 3 columns]

In [23]:
#Creamos un diccionario de los paises con sus coordenadas
list_locations = covid_data_dict.set_index('Country/Region')[['Lat', 'Long']]

list_locations

                            Lat        Long
Country/Region
Afghanistan           33.939110   67.709953
Albania               41.153300   20.168300
Algeria               28.033900    1.659600
Andorra               42.506300    1.521800
Angola               -11.202700   17.873900
...                         ...         ...
West Bank and Gaza    31.952200   35.233200
Winter Olympics 2022  39.904200  116.407400
Yemen                 15.552727   48.516388
Zambia               -13.133897   27.849332
Zimbabwe             -19.015438   29.154857

[330327 rows x 2 columns]

In [24]:
#Creamos un diccionario de los paises con sus coordenadas
list_locations= list_locations.T

list_locations

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antarctica,Antigua and Barbuda,Argentina,Armenia,Australia,...,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Winter Olympics 2022,Yemen,Zambia,Zimbabwe
Lat,33.939110,41.1533,28.0339,42.5063,-11.2027,-71.9499,17.0608,-38.4161,40.0691,-35.4735,...,-32.5228,41.377491,-15.3767,6.4238,14.058324,31.9522,39.9042,15.552727,-13.133897,-19.015438
Long,67.709953,20.1683,1.6596,1.5218,17.8739,23.3470,-61.7964,-63.6167,45.0382,149.0124,...,-55.7658,64.585262,166.9592,-66.5897,108.277199,35.2332,116.4074,48.516388,27.849332,29.154857

In [25]:
#Creamos un diccionario de los paises con sus coordenadas

list_locations=list_locations.to_dict('dict')

list_locations

C:\Users\ACER\AppData\Local\Temp\ipykernel_14796\3358671323.py:3: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  list_locations=list_locations.to_dict('dict')

{'Afghanistan': {'Lat': 33.93911, 'Long': 67.709953},
 'Albania': {'Lat': 41.1533, 'Long': 20.1683},
 'Algeria': {'Lat': 28.0339, 'Long': 1.6596},
 'Andorra': {'Lat': 42.5063, 'Long': 1.5218},
 'Angola': {'Lat': -11.2027, 'Long': 17.8739},
 'Antarctica': {'Lat': -71.9499, 'Long': 23.347},
 'Antigua and Barbuda': {'Lat': 17.0608, 'Long': -61.7964},
 'Argentina': {'Lat': -38.4161, 'Long': -63.6167},
 'Armenia': {'Lat': 40.0691, 'Long': 45.0382},
 'Australia': {'Lat': -31.9505, 'Long': 115.8605},
 'Austria': {'Lat': 47.5162, 'Long': 14.5501},
 'Azerbaijan': {'Lat': 40.1431, 'Long': 47.5769},
 'Bahamas': {'Lat': 25.025885, 'Long': -78.035889},
 'Bahrain': {'Lat': 26.0275, 'Long': 50.55},
 'Bangladesh': {'Lat': 23.685, 'Long': 90.3563},
 'Barbados': {'Lat': 13.1939, 'Long': -59.5432},
 'Belarus': {'Lat': 53.7098, 'Long': 27.9534},
 'Belgium': {'Lat': 50.8333, 'Long': 4.469936},
 'Belize': {'Lat': 17.1899, 'Long': -88.4976},
 'Benin': {'Lat': 9.3077, 'Long': 2.3158},
 'Bhutan': {'Lat': 27.5142, 'Long': 90.4336},
 'Bolivia': {'Lat': -16.2902, 'Long': -63.5887},
 'Bosnia and Herzegovina': {'Lat': 43.9159, 'Long': 17.6791},
 'Botswana': {'Lat': -22.3285, 'Long': 24.6849},
 'Brazil': {'Lat': -14.235, 'Long': -51.9253},
 'Brunei': {'Lat': 4.5353, 'Long': 114.7277},
 'Bulgaria': {'Lat': 42.7339, 'Long': 25.4858},
 'Burkina Faso': {'Lat': 12.2383, 'Long': -1.5616},
 'Burma': {'Lat': 21.9162, 'Long': 95.956},
 'Burundi': {'Lat': -3.3731, 'Long': 29.9189},
 'Cabo Verde': {'Lat': 16.5388, 'Long': -23.0418},
 'Cambodia': {'Lat': 11.55, 'Long': 104.9167},
 'Cameroon': {'Lat': 3.848, 'Long': 11.5021},
 'Canada': {'Lat': 64.2823, 'Long': -135.0},
 'Central African Republic': {'Lat': 6.6111, 'Long': 20.9394},
 'Chad': {'Lat': 15.4542, 'Long': 18.7322},
 'Chile': {'Lat': -35.6751, 'Long': -71.543},
 'China': {'Lat': 29.1832, 'Long': 120.0934},
 'Colombia': {'Lat': 4.5709, 'Long': -74.2973},
 'Comoros': {'Lat': -11.6455, 'Long': 43.3333},
 'Congo (Brazzaville)': {'Lat': -0.228, 'Long': 15.8277},
 'Congo (Kinshasa)': {'Lat': -4.0383, 'Long': 21.7587},
 'Costa Rica': {'Lat': 9.7489, 'Long': -83.7534},
 "Cote d'Ivoire": {'Lat': 7.54, 'Long': -5.5471},
 'Croatia': {'Lat': 45.1, 'Long': 15.2},
 'Cuba': {'Lat': 21.521757, 'Long': -77.781167},
 'Cyprus': {'Lat': 35.1264, 'Long': 33.4299},
 'Czechia': {'Lat': 49.8175, 'Long': 15.473},
 'Denmark': {'Lat': 56.2639, 'Long': 9.5018},
 'Diamond Princess': {'Lat': 0.0, 'Long': 0.0},
 'Djibouti': {'Lat': 11.8251, 'Long': 42.5903},
 'Dominica': {'Lat': 15.415, 'Long': -61.371},
 'Dominican Republic': {'Lat': 18.7357, 'Long': -70.1627},
 'Ecuador': {'Lat': -1.8312, 'Long': -78.1834},
 'Egypt': {'Lat': 26.820553, 'Long': 30.802498},
 'El Salvador': {'Lat': 13.7942, 'Long': -88.8965},
 'Equatorial Guinea': {'Lat': 1.6508, 'Long': 10.2679},
 'Eritrea': {'Lat': 15.1794, 'Long': 39.7823},
 'Estonia': {'Lat': 58.5953, 'Long': 25.0136},
 'Eswatini': {'Lat': -26.5225, 'Long': 31.4659},
 'Ethiopia': {'Lat': 9.145, 'Long': 40.4897},
 'Fiji': {'Lat': -17.7134, 'Long': 178.065},
 'Finland': {'Lat': 61.92411, 'Long': 25.748151},
 'France': {'Lat': 46.2276, 'Long': 2.2137},
 'Gabon': {'Lat': -0.8037, 'Long': 11.6094},
 'Gambia': {'Lat': 13.4432, 'Long': -15.3101},
 'Georgia': {'Lat': 42.3154, 'Long': 43.3569},
 'Germany': {'Lat': 51.165691, 'Long': 10.451526},
 'Ghana': {'Lat': 7.9465, 'Long': -1.0232},
 'Greece': {'Lat': 39.0742, 'Long': 21.8243},
 'Grenada': {'Lat': 12.1165, 'Long': -61.679},
 'Guatemala': {'Lat': 15.7835, 'Long': -90.2308},
 'Guinea': {'Lat': 9.9456, 'Long': -9.6966},
 'Guinea-Bissau': {'Lat': 11.8037, 'Long': -15.1804},
 'Guyana': {'Lat': 4.860416, 'Long': -58.93018},
 'Haiti': {'Lat': 18.9712, 'Long': -72.2852},
 'Holy See': {'Lat': 41.9029, 'Long': 12.4534},
 'Honduras': {'Lat': 15.2, 'Long': -86.2419},
 'Hungary': {'Lat': 47.1625, 'Long': 19.5033},
 'Iceland': {'Lat': 64.9631, 'Long': -19.0208},
 'India': {'Lat': 20.593684, 'Long': 78.96288},
 'Indonesia': {'Lat': -0.7893, 'Long': 113.9213},
 'Iran': {'Lat': 32.427908, 'Long': 53.688046},
 'Iraq': {'Lat': 33.223191, 'Long': 43.679291},
 'Ireland': {'Lat': 53.1424, 'Long': -7.6921},
 'Israel': {'Lat': 31.046051, 'Long': 34.851612},
 'Italy': {'Lat': 41.87194, 'Long': 12.56738},
 'Jamaica': {'Lat': 18.1096, 'Long': -77.2975},
 'Japan': {'Lat': 36.204824, 'Long': 138.252924},
 'Jordan': {'Lat': 31.24, 'Long': 36.51},
 'Kazakhstan': {'Lat': 48.0196, 'Long': 66.9237},
 'Kenya': {'Lat': -0.0236, 'Long': 37.9062},
 'Kiribati': {'Lat': -3.3704, 'Long': -168.734},
 'Korea, North': {'Lat': 40.3399, 'Long': 127.5101},
 'Korea, South': {'Lat': 35.907757, 'Long': 127.766922},
 'Kosovo': {'Lat': 42.602636, 'Long': 20.902977},
 'Kuwait': {'Lat': 29.31166, 'Long': 47.481766},
 'Kyrgyzstan': {'Lat': 41.20438, 'Long': 74.766098},
 'Laos': {'Lat': 19.85627, 'Long': 102.495496},
 'Latvia': {'Lat': 56.8796, 'Long': 24.6032},
 'Lebanon': {'Lat': 33.8547, 'Long': 35.8623},
 'Lesotho': {'Lat': -29.61, 'Long': 28.2336},
 'Liberia': {'Lat': 6.428055, 'Long': -9.429499},
 'Libya': {'Lat': 26.3351, 'Long': 17.228331},
 'Liechtenstein': {'Lat': 47.14, 'Long': 9.55},
 'Lithuania': {'Lat': 55.1694, 'Long': 23.8813},
 'Luxembourg': {'Lat': 49.8153, 'Long': 6.1296},
 'MS Zaandam': {'Lat': 0.0, 'Long': 0.0},
 'Madagascar': {'Lat': -18.766947, 'Long': 46.869107},
 'Malawi': {'Lat': -13.2543, 'Long': 34.3015},
 'Malaysia': {'Lat': 4.210484, 'Long': 101.975766},
 'Maldives': {'Lat': 3.2028, 'Long': 73.2207},
 'Mali': {'Lat': 17.570692, 'Long': -3.996166},
 'Malta': {'Lat': 35.9375, 'Long': 14.3754},
 'Marshall Islands': {'Lat': 7.1315, 'Long': 171.1845},
 'Mauritania': {'Lat': 21.0079, 'Long': -10.9408},
 'Mauritius': {'Lat': -20.348404, 'Long': 57.552152},
 'Mexico': {'Lat': 23.6345, 'Long': -102.5528},
 'Micronesia': {'Lat': 7.4256, 'Long': 150.5508},
 'Moldova': {'Lat': 47.4116, 'Long': 28.3699},
 'Monaco': {'Lat': 43.7333, 'Long': 7.4167},
 'Mongolia': {'Lat': 46.8625, 'Long': 103.8467},
 'Montenegro': {'Lat': 42.708678, 'Long': 19.37439},
 'Morocco': {'Lat': 31.7917, 'Long': -7.0926},
 'Mozambique': {'Lat': -18.665695, 'Long': 35.529562},
 'Namibia': {'Lat': -22.9576, 'Long': 18.4904},
 'Nauru': {'Lat': -0.5228, 'Long': 166.9315},
 'Nepal': {'Lat': 28.1667, 'Long': 84.25},
 'Netherlands': {'Lat': 52.1326, 'Long': 5.2913},
 'New Zealand': {'Lat': -40.9006, 'Long': 174.886},
 'Nicaragua': {'Lat': 12.865416, 'Long': -85.207229},
 'Niger': {'Lat': 17.607789, 'Long': 8.081666},
 'Nigeria': {'Lat': 9.082, 'Long': 8.6753},
 'North Macedonia': {'Lat': 41.6086, 'Long': 21.7453},
 'Norway': {'Lat': 60.472, 'Long': 8.4689},
 'Oman': {'Lat': 21.512583, 'Long': 55.923255},
 'Pakistan': {'Lat': 30.3753, 'Long': 69.3451},
 'Palau': {'Lat': 7.515, 'Long': 134.5825},
 'Panama': {'Lat': 8.538, 'Long': -80.7821},
 'Papua New Guinea': {'Lat': -6.314993, 'Long': 143.95555},
 'Paraguay': {'Lat': -23.4425, 'Long': -58.4438},
 'Peru': {'Lat': -9.19, 'Long': -75.0152},
 'Philippines': {'Lat': 12.879721, 'Long': 121.774017},
 'Poland': {'Lat': 51.9194, 'Long': 19.1451},
 'Portugal': {'Lat': 39.3999, 'Long': -8.2245},
 'Qatar': {'Lat': 25.3548, 'Long': 51.1839},
 'Romania': {'Lat': 45.9432, 'Long': 24.9668},
 'Russia': {'Lat': 61.52401, 'Long': 105.318756},
 'Rwanda': {'Lat': -1.9403, 'Long': 29.8739},
 'Saint Kitts and Nevis': {'Lat': 17.357822, 'Long': -62.782998},
 'Saint Lucia': {'Lat': 13.9094, 'Long': -60.9789},
 'Saint Vincent and the Grenadines': {'Lat': 12.9843, 'Long': -61.2872},
 'Samoa': {'Lat': -13.759, 'Long': -172.1046},
 'San Marino': {'Lat': 43.9424, 'Long': 12.4578},
 'Sao Tome and Principe': {'Lat': 0.1864, 'Long': 6.6131},
 'Saudi Arabia': {'Lat': 23.885942, 'Long': 45.079162},
 'Senegal': {'Lat': 14.4974, 'Long': -14.4524},
 'Serbia': {'Lat': 44.0165, 'Long': 21.0059},
 'Seychelles': {'Lat': -4.6796, 'Long': 55.492},
 'Sierra Leone': {'Lat': 8.460555, 'Long': -11.779889},
 'Singapore': {'Lat': 1.2833, 'Long': 103.8333},
 'Slovakia': {'Lat': 48.669, 'Long': 19.699},
 'Slovenia': {'Lat': 46.1512, 'Long': 14.9955},
 'Solomon Islands': {'Lat': -9.6457, 'Long': 160.1562},
 'Somalia': {'Lat': 5.152149, 'Long': 46.199616},
 'South Africa': {'Lat': -30.5595, 'Long': 22.9375},
 'South Sudan': {'Lat': 6.877, 'Long': 31.307},
 'Spain': {'Lat': 40.463667, 'Long': -3.74922},
 'Sri Lanka': {'Lat': 7.873054, 'Long': 80.771797},
 'Sudan': {'Lat': 12.8628, 'Long': 30.2176},
 'Summer Olympics 2020': {'Lat': 35.6491, 'Long': 139.7737},
 'Suriname': {'Lat': 3.9193, 'Long': -56.0278},
 'Sweden': {'Lat': 60.128161, 'Long': 18.643501},
 'Switzerland': {'Lat': 46.8182, 'Long': 8.2275},
 'Syria': {'Lat': 34.802075, 'Long': 38.996815},
 'Taiwan*': {'Lat': 23.7, 'Long': 121.0},
 'Tajikistan': {'Lat': 38.861, 'Long': 71.2761},
 'Tanzania': {'Lat': -6.369028, 'Long': 34.888822},
 'Thailand': {'Lat': 15.870032, 'Long': 100.992541},
 'Timor-Leste': {'Lat': -8.874217, 'Long': 125.727539},
 'Togo': {'Lat': 8.6195, 'Long': 0.8248},
 'Tonga': {'Lat': -21.179, 'Long': -175.1982},
 'Trinidad and Tobago': {'Lat': 10.6918, 'Long': -61.2225},
 'Tunisia': {'Lat': 33.886917, 'Long': 9.537499},
 'Turkey': {'Lat': 38.9637, 'Long': 35.2433},
 'Tuvalu': {'Lat': -7.1095, 'Long': 177.6493},
 'US': {'Lat': 40.0, 'Long': -100.0},
 'Uganda': {'Lat': 1.373333, 'Long': 32.290275},
 'Ukraine': {'Lat': 48.3794, 'Long': 31.1656},
 'United Arab Emirates': {'Lat': 23.424076, 'Long': 53.847818},
 'United Kingdom': {'Lat': 55.3781, 'Long': -3.436},
 'Uruguay': {'Lat': -32.5228, 'Long': -55.7658},
 'Uzbekistan': {'Lat': 41.377491, 'Long': 64.585262},
 'Vanuatu': {'Lat': -15.3767, 'Long': 166.9592},
 'Venezuela': {'Lat': 6.4238, 'Long': -66.5897},
 'Vietnam': {'Lat': 14.058324, 'Long': 108.277199},
 'West Bank and Gaza': {'Lat': 31.9522, 'Long': 35.2332},
 'Winter Olympics 2022': {'Lat': 39.9042, 'Long': 116.4074},
 'Yemen': {'Lat': 15.552727, 'Long': 48.516388},
 'Zambia': {'Lat': -13.133897, 'Long': 27.849332},
 'Zimbabwe': {'Lat': -19.015438, 'Long': 29.154857}}

In [48]:
app = dash.Dash(__name__, meta_tags=[{"name": "viewport", "content": "width=device-width"}])



app.layout =html.Div([
                   
                   
    html.Div([
        html.Div([
            html.Img(src=app.get_asset_url('corona-logo-1.jpg'),
                     id='corona-image',
                     style={
                         "height": "60px",
                         "width": "auto",
                         "margin-bottom": "25px",
                     },
                     )
        ],
            className="one-third column",
        ),

        html.Div([
            html.Div([
                html.H3("Covid - 19", style={"margin-bottom": "0px", 'color': 'white'}),
                html.H5("Track Covid - 19 Cases", style={"margin-top": "0px", 'color': 'white'}),
            ])
        ], className="one-half column", id="title"),

        html.Div([
            html.H6('Last Update: '+str(LastUpdated.strftime("%B %d, %Y"))+ '  00:01 (UTC)',
            style={'color':'orange'}
            )

        ],className="one-third column", id='title1')
    ], id="header", className="row flex-display", style={"margin-bottom": "25px"}),


    html.Div([
        html.Div([
            html.H6(children='Global Cases',
            style={'textAlign':'center','color':'white','fontSize': 15}
            ),

            html.P(f"{ConfirmedLastUpdated:,.0f}",
                   style={
                       'textAlign': 'center',
                       'color': 'orange',
                       'fontSize': 25}
                       ),
            html.P('new:  ' + f"{ConfirmedLastUpdated - ConfirmedPreviousUpdated:,.0f} "
                   + ' (' + str(round(((ConfirmedLastUpdated - ConfirmedPreviousUpdated) /
                                       ConfirmedLastUpdated) * 100, 2)) + '%)',
                   style={
                       'textAlign': 'center',
                       'color': 'orange',
                       'fontSize': 15,
                       'margin-top': '-18px'})
            ], className="card_container three columns"),

            

        html.Div([
            html.H6(children='Global Deaths',
                    style={
                        'textAlign': 'center',
                        'color': 'white','fontSize': 15}
                    ),

            html.P(f"{covid_data_1['death'].iloc[-1]:,.0f}",
                   style={
                       'textAlign': 'center',
                       'color': '#dd1e35',
                       'fontSize': 25}
                   ),

            html.P('new:  ' + f"{DeathedLastUpdated - DeathedPreviousUpdated:,.0f} "
                   + ' (' + str(round(((DeathedLastUpdated - covid_data_1['death'].iloc[-2]) /
                                       DeathedLastUpdated) * 100, 2)) + '%)',
                   style={
                       'textAlign': 'center',
                       'color': '#dd1e35',
                       'fontSize': 15,
                       'margin-top': '-18px'}
                   )], className="card_container three columns",                   
            ),

        html.Div([
            html.H6(children='Global Recovered',
                    style={
                        'textAlign': 'center',
                        'color': 'white','fontSize': 15}
                    ),

            html.P(f"{RecoveredLastUpdated:,.0f}",
                   style={
                       'textAlign': 'center',
                       'color': 'green',
                       'fontSize': 25}
                   ),

            html.P('new:  ' + f"{RecoveredLastUpdated- RecoveredPreviousUpdated:,.0f} "
                   + ' (' + str(round(((RecoveredLastUpdated - RecoveredPreviousUpdated) /
                                       RecoveredLastUpdated) * 100, 2)) + '%)',
                   style={
                       'textAlign': 'center',
                       'color': 'green',
                       'fontSize': 15,
                       'margin-top': '-18px'}
                   )], className="card_container three columns",
        ),

        html.Div([
            html.H6(children='Global Active',
                    style={
                        'textAlign': 'center',
                        'color': 'white','fontSize': 15}
                    ),

            html.P(f"{ActivedLastUpdated:,.0f}",
                   style={
                       'textAlign': 'center',
                       'color': '#e55467',
                       'fontSize': 25}
                   ),

            html.P('new:  ' + f"{ActivedLastUpdated - ActivedPreviousUpdated:,.0f} "
                   + ' (' + str(round(((ActivedLastUpdated - ActivedPreviousUpdated) /
                                       ActivedLastUpdated) * 100, 2)) + '%)',
                   style={
                       'textAlign': 'center',
                       'color': '#e55467',
                       'fontSize': 15,
                       'margin-top': '-18px'})
                    ], className="card_container three columns")             
                
                                     
    ],className="row flex-display") ,

     html.Div([
         html.Div([
            html.P('Select Country',className='fix_label',style={'color':'white'}),
            dcc.Dropdown(id='w_countries',
                        options=[{'label':c,'value':c} for c in (covid_data['Country/Region'].unique())],
                        value='US',
                        multi=False, #No permite elegir varios paises
                        clearable=False, #No permite limpiar la seleccion
                        placeholder='Select Countries',           
                        className='dcc_compon'),
            html.P('New Cases : ' + '  ' + ' ' + str(LastUpdated.strftime("%B %d, %Y")) + '  ', className='fix_label',  style={'color': 'white', 'text-align': 'center'}),
            dcc.Graph(id='confirmed', 
                      config={'displayModeBar': False}, 
                      className='dcc_compon',
                      style={'margin-top': '20px'}),
            dcc.Graph(id='death', 
                      config={'displayModeBar': False}, 
                      className='dcc_compon',
                      style={'margin-top': '20px'},
                      ),

            dcc.Graph(id='recovered', 
                      config={'displayModeBar': False}, 
                      className='dcc_compon',
                      style={'margin-top': '20px'},
                      ),

            dcc.Graph(id='active', 
                      config={'displayModeBar': False}, 
                      className='dcc_compon',
                      style={'margin-top': '20px'},
                      )       
   
         ], className="create_container three columns", id="cross-filter-options"),

         html.Div([
              dcc.Graph(id='pie_chart',
                        config={'displayModeBar': 'hover'}),
         ], className="create_container four columns"),

         html.Div([
              dcc.Graph(id="line_chart")

         ], className="create_container five columns"),

     ], className="row flex-display"),

html.Div([
     html.Div([
          dcc.Graph(id="map")], 
          className="create_container1 twelve columns"),

         ], className="row flex-display"),


], id="mainContainer",style={"display": "flex", "flex-direction": "column"})




# Create x chart (total casualties)
@app.callback(
    Output('confirmed', 'figure'),
    [Input('w_countries', 'value')])
def update_confirmed(w_countries):
    covid_data_2 = covid_data.groupby(['date', 'Country/Region'])[['confirmed', 'death', 'recovered', 'active']].sum().reset_index()

    value_confirmed = covid_data_2[covid_data_2['Country/Region'] == w_countries]['confirmed'].iloc[-1] - covid_data_2[covid_data_2['Country/Region'] == w_countries]['confirmed'].iloc[-2]
    delta_confirmed = covid_data_2[covid_data_2['Country/Region'] == w_countries]['confirmed'].iloc[-2] - covid_data_2[covid_data_2['Country/Region'] == w_countries]['confirmed'].iloc[-3]
    return {
            'data': [go.Indicator(
                    mode='number+delta',
                    value=value_confirmed,
                    delta={'reference': delta_confirmed,
                              'position': 'right',
                              'valueformat': ',g',
                              'relative': False,

                              'font': {'size': 15}},
                    number={'valueformat': ',',
                            'font': {'size': 20},

                               },
                    domain={'y': [0, 1], 'x': [0, 1]})],
            'layout': go.Layout(
                title={'text': 'New Confirmed',
                       'y': 1,
                       'x': 0.5,
                       'xanchor': 'center',
                       'yanchor': 'top'},
                font=dict(color='orange'),
                paper_bgcolor='#1f2c56',
                plot_bgcolor='#1f2c56',
                height=50
                ),

            }

@app.callback(
    Output('death', 'figure'),
    [Input('w_countries', 'value')])
def update_confirmed(w_countries):
    covid_data_2 = covid_data.groupby(['date', 'Country/Region'])[['confirmed', 'death', 'recovered', 'active']].sum().reset_index()

    value_death = covid_data_2[covid_data_2['Country/Region'] == w_countries]['death'].iloc[-1] - covid_data_2[covid_data_2['Country/Region'] == w_countries]['death'].iloc[-2]
    delta_death = covid_data_2[covid_data_2['Country/Region'] == w_countries]['death'].iloc[-2] - covid_data_2[covid_data_2['Country/Region'] == w_countries]['death'].iloc[-3]
    return {
            'data': [go.Indicator(
                    mode='number+delta',
                    value=value_death,
                    delta={'reference': delta_death,
                              'position': 'right',
                              'valueformat': ',g',
                              'relative': False,

                              'font': {'size': 15}},
                    number={'valueformat': ',',
                            'font': {'size': 20},

                               },
                    domain={'y': [0, 1], 'x': [0, 1]})],
            'layout': go.Layout(
                title={'text': 'New Death',
                       'y': 1,
                       'x': 0.5,
                       'xanchor': 'center',
                       'yanchor': 'top'},
                font=dict(color='#dd1e35'),
                paper_bgcolor='#1f2c56',
                plot_bgcolor='#1f2c56',
                height=50
                ),

            }

@app.callback(
    Output('recovered', 'figure'),
    [Input('w_countries', 'value')])
def update_confirmed(w_countries):
    covid_data_2 = covid_data.groupby(['date', 'Country/Region'])[['confirmed', 'death', 'recovered', 'active']].sum().reset_index()

    value_recovered = covid_data_2[covid_data_2['Country/Region'] == w_countries]['recovered'].iloc[-1] - covid_data_2[covid_data_2['Country/Region'] == w_countries]['recovered'].iloc[-2]
    delta_recovered = covid_data_2[covid_data_2['Country/Region'] == w_countries]['recovered'].iloc[-2] - covid_data_2[covid_data_2['Country/Region'] == w_countries]['recovered'].iloc[-3]
    return {
            'data': [go.Indicator(
                    mode='number+delta',
                    value=value_recovered,
                    delta={'reference': delta_recovered,
                              'position': 'right',
                              'valueformat': ',g',
                              'relative': False,

                              'font': {'size': 15}},
                    number={'valueformat': ',',
                            'font': {'size': 20},

                               },
                    domain={'y': [0, 1], 'x': [0, 1]})],
            'layout': go.Layout(
                title={'text': 'New Recovered',
                       'y': 1,
                       'x': 0.5,
                       'xanchor': 'center',
                       'yanchor': 'top'},
                font=dict(color='green'),
                paper_bgcolor='#1f2c56',
                plot_bgcolor='#1f2c56',
                height=50
                ),

            }

@app.callback(
    Output('active', 'figure'),
    [Input('w_countries', 'value')])
def update_confirmed(w_countries):
    covid_data_2 = covid_data.groupby(['date', 'Country/Region'])[['confirmed', 'death', 'recovered', 'active']].sum().reset_index()

    value_active = covid_data_2[covid_data_2['Country/Region'] == w_countries]['active'].iloc[-1] - covid_data_2[covid_data_2['Country/Region'] == w_countries]['active'].iloc[-2]
    delta_active = covid_data_2[covid_data_2['Country/Region'] == w_countries]['active'].iloc[-2] - covid_data_2[covid_data_2['Country/Region'] == w_countries]['active'].iloc[-3]
    return {
            'data': [go.Indicator(
                    mode='number+delta',
                    value=value_active,
                    delta={'reference': delta_active,
                              'position': 'right',
                              'valueformat': ',g',
                              'relative': False,

                              'font': {'size': 15}},
                    number={'valueformat': ',',
                            'font': {'size': 20},

                               },
                    domain={'y': [0, 1], 'x': [0, 1]})],
            'layout': go.Layout(
                title={'text': 'New Active',
                       'y': 1,
                       'x': 0.5,
                       'xanchor': 'center',
                       'yanchor': 'top'},
                font=dict(color='#e55467'),
                paper_bgcolor='#1f2c56',
                plot_bgcolor='#1f2c56',
                height=50
                ),

            }









# Create pie chart (total casualties)
@app.callback(Output('pie_chart', 'figure'),
              [Input('w_countries', 'value')])

def update_graph(w_countries):
    covid_data_2 = covid_data.groupby(['date', 'Country/Region'])[['confirmed', 'death', 'recovered', 'active']].sum().reset_index()
    new_confirmed = covid_data_2[covid_data_2['Country/Region'] == w_countries]['confirmed'].iloc[-1]
    new_death = covid_data_2[covid_data_2['Country/Region'] == w_countries]['death'].iloc[-1]
    new_recovered = covid_data_2[covid_data_2['Country/Region'] == w_countries]['recovered'].iloc[-1]
    new_active = covid_data_2[covid_data_2['Country/Region'] == w_countries]['active'].iloc[-1]
    colors = ['orange', '#dd1e35', 'green', '#e55467']

    return {
        'data': [go.Pie(labels=['Confirmed', 'Death', 'Recovered', 'Active'],
                        values=[new_confirmed, new_death, new_recovered, new_active],
                        marker=dict(colors=colors),
                        hoverinfo='label+value+percent',
                        textinfo='label+value',
                        textfont=dict(size=13),
                        hole=.7,
                        rotation=45
                        # insidetextorientation='radial',


                        )],

        'layout': go.Layout(
            # width=800,
            # height=520,
            plot_bgcolor='#1f2c56',
            paper_bgcolor='#1f2c56',
            hovermode='closest',
            title={
                'text': 'Total Cases : ' + (w_countries),


                'y': 0.93,
                'x': 0.5,
                'xanchor': 'center',
                'yanchor': 'top'},
            titlefont={
                       'color': 'white',
                       'size': 20},
            legend={
                'orientation': 'h',
                'bgcolor': '#1f2c56',
                'xanchor': 'center', 'x': 0.5, 'y': -0.07},
            font=dict(
                family="sans-serif",
                size=12,
                color='white')
            ),


        }


# Create bar chart (show new cases)
@app.callback(Output('line_chart', 'figure'),
              [Input('w_countries', 'value')])
def update_graph(w_countries):
# main data frame
    covid_data_2 = covid_data.groupby(['date', 'Country/Region'])[['confirmed', 'death', 'recovered', 'active']].sum().reset_index()
# daily confirmed
    covid_data_3 = covid_data_2[covid_data_2['Country/Region'] == w_countries][['Country/Region', 'date', 'confirmed']].reset_index()
    covid_data_3['daily confirmed'] = covid_data_3['confirmed'] - covid_data_3['confirmed'].shift(1)
    covid_data_3['Rolling Ave.'] = covid_data_3['daily confirmed'].rolling(window=7).mean()

    return {
        'data': [go.Bar(x=covid_data_3[covid_data_3['Country/Region'] == w_countries]['date'].tail(30),
                        y=covid_data_3[covid_data_3['Country/Region'] == w_countries]['daily confirmed'].tail(30),

                        name='Daily confirmed',
                        marker=dict(
                            color='orange'),
                        hoverinfo='text',
                        hovertext=
                        '<b>Date</b>: ' + covid_data_3[covid_data_3['Country/Region'] == w_countries]['date'].tail(30).astype(str) + '<br>' +
                        '<b>Daily confirmed</b>: ' + [f'{x:,.0f}' for x in covid_data_3[covid_data_3['Country/Region'] == w_countries]['daily confirmed'].tail(30)] + '<br>' +
                        '<b>Country</b>: ' + covid_data_3[covid_data_3['Country/Region'] == w_countries]['Country/Region'].tail(30).astype(str) + '<br>'


                        ),
                 go.Scatter(x=covid_data_3[covid_data_3['Country/Region'] == w_countries]['date'].tail(30),
                            y=covid_data_3[covid_data_3['Country/Region'] == w_countries]['Rolling Ave.'].tail(30),
                            mode='lines',
                            name='Rolling average of the last seven days - daily confirmed cases',
                            line=dict(width=3, color='#FF00FF'),
                            # marker=dict(
                            #     color='green'),
                            hoverinfo='text',
                            hovertext=
                            '<b>Date</b>: ' + covid_data_3[covid_data_3['Country/Region'] == w_countries]['date'].tail(30).astype(str) + '<br>' +
                            '<b>Rolling Ave.(last 7 days)</b>: ' + [f'{x:,.0f}' for x in covid_data_3[covid_data_3['Country/Region'] == w_countries]['Rolling Ave.'].tail(30)] + '<br>'
                            )],


        'layout': go.Layout(
             plot_bgcolor='#1f2c56',
             paper_bgcolor='#1f2c56',
             title={
                'text': 'Last 30 Days Confirmed Cases : ' + (w_countries),
                'y': 0.93,
                'x': 0.5,
                'xanchor': 'center',
                'yanchor': 'top'},
             titlefont={
                        'color': 'white',
                        'size': 20},

             hovermode='x',
             margin = dict(r = 0),
             xaxis=dict(title='<b>Date</b>',
                        color='white',
                        showline=True,
                        showgrid=True,
                        showticklabels=True,
                        linecolor='white',
                        linewidth=2,
                        ticks='outside',
                        tickfont=dict(
                            family='Arial',
                            size=12,
                            color='white'
                        )

                ),

             yaxis=dict(title='<b>Daily confirmed Cases</b>',
                        color='white',
                        showline=True,
                        showgrid=True,
                        showticklabels=True,
                        linecolor='white',
                        linewidth=2,
                        ticks='outside',
                        tickfont=dict(
                           family='Arial',
                           size=12,
                           color='white'
                        )

                ),

            legend={
                'orientation': 'h',
                'bgcolor': '#1f2c56',
                'xanchor': 'center', 'x': 0.5, 'y': -0.3},
                          font=dict(
                              family="sans-serif",
                              size=12,
                              color='white'),

                 )

    }
         

# Create scattermapbox chart
@app.callback(Output('map', 'figure'),
              [Input('w_countries', 'value')])
def update_graph(w_countries):
    covid_data_3 = covid_data.groupby(['Lat', 'Long', 'Country/Region'])[['confirmed', 'death', 'recovered', 'active']].max().reset_index()
    covid_data_4 = covid_data_3[covid_data_3['Country/Region'] == w_countries]

    if w_countries:
        zoom = 2
        zoom_lat = list_locations[w_countries]['Lat']
        zoom_lon = list_locations[w_countries]['Long']

    return {
        'data': [go.Scattermapbox(
                         lon=covid_data_4['Long'],
                         lat=covid_data_4['Lat'],
                         mode='markers',
                         marker=go.scattermapbox.Marker(
                                  size=covid_data_4['confirmed'] / 1500,
                                  color=covid_data_4['confirmed'],
                                  colorscale='hsv',
                                  showscale=False,
                                  sizemode='area',
                                  opacity=0.3),

                         hoverinfo='text',
                         hovertext=
                         '<b>Country</b>: ' + covid_data_4['Country/Region'].astype(str) + '<br>' +
                         '<b>Longitude</b>: ' + covid_data_4['Long'].astype(str) + '<br>' +
                         '<b>Latitude</b>: ' + covid_data_4['Lat'].astype(str) + '<br>' +
                         '<b>Confirmed</b>: ' + [f'{x:,.0f}' for x in covid_data_4['confirmed']] + '<br>' +
                         '<b>Death</b>: ' + [f'{x:,.0f}' for x in covid_data_4['death']] + '<br>' +
                         '<b>Recovered</b>: ' + [f'{x:,.0f}' for x in covid_data_4['recovered']] + '<br>' +
                         '<b>Active</b>: ' + [f'{x:,.0f}' for x in covid_data_4['active']] + '<br>'

                        )],


        'layout': go.Layout(
             margin={"r": 0, "t": 0, "l": 0, "b": 0},
             # width=1820,
             # height=650,
             hovermode='closest',
             mapbox=dict(
                accesstoken='pk.eyJ1IjoicXM2MjcyNTI3IiwiYSI6ImNraGRuYTF1azAxZmIycWs0cDB1NmY1ZjYifQ.I1VJ3KjeM-S613FLv3mtkw',
                center=go.layout.mapbox.Center(lat=zoom_lat, lon=zoom_lon),
                # style='open-street-map',
                style='dark',
                zoom=zoom
             ),
             autosize=True,

        )

    }





if __name__ == '__main__':
    app.run_server(debug=True)